#artistas{
    background: #292929;
    color: #fff;
    text-align: center;
    padding: 1px;
}

#artistas .containerartistas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.info-artistas{
    margin: 20px;
}

.info-artistas img{
   width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 7px solid;
    color: #141313;
}

.info-artistas h5{
    color: darkgray;
}


@media (min-width:480px){
    .info-artistas{
        width: 40%;
    }
}

@media (min-width:1024px){
    .info-artistas{
        width: auto;
    }
}