.cuerpo {
	padding-top: 120px;
   margin: 0 auto;
	width: 1000px;
    font-family: sans-serif;
}

.cuerpo .opciones li {
	margin: 10px;
    color: white;
  
}

.cuerpo .opciones {
	width: 25%;
	float: left;
    padding-top: 30px;
    background-color: #060606;
    padding-bottom: 465px;
}

#link{
    color: lightgray;
}


.cuerpo .contenido {
	width: 64%;
	float: left;
     background-color: #f5e2e4;
     padding: 40px;
}


.contenido h2{
    color: darkcyan;
}

.formulario {
    height: 60%;
    width: 50%;
	padding: 5%;
    margin-left: 25%;
    margin-bottom: 3%;
    font-family: inherit;
    font-size: 19px;
    color: deepskyblue;
    justify-content: space-around;
   border: 5px solid #0CACC1;
  border-collapse: collapse;
}



.principal .publicidad {
	float: right;
    
}