header{
    width: 100%;
    height: 50px;
    background:#1F1F1F;
    color: deepskyblue;
    
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100%;
}



#portada{
    margin-top: 50px;
    position: relative;
}

#portada img{
    width: 1920px;
    height: 440px;
}

#portada .foto{
    position: absolute;
    top: 80%;
    left: 20%;
    transform: translateX(-50%) translateY(-50%);
    color: #fff;
}

#portada h2{
    font-size: 28px;
}

#portada a{
    display: block;
    width: 100px;
    color: #fff;
    text-decoration: none;
    padding: 7px;
    margin-top: 10px;
    border: 3px solid #fff;
}

#portada a:hover{
    background: rgba(51,51,51,0.5);
}

#busqueda{
    border: 0;
    width: 100%;
    margin-top: 50px;
    margin-bottom: -2%;
    margin-right: 0%;
    position: static;
    left: 5px;
    bottom: 0.3em;

    
    
    
    }

 #batman .imagen{
    
			-webkit-border-radius: 150px;
			-moz-border-radius: 150px;
			border-radius: 150px;	
		}


	#batman	 .foto{
			background-color: #141313;
           margin-left: 20px;
            margin-bottom: 10px;
			padding: 8px;
			width: 215px;
			-webkit-border-radius: 150px;
			-moz-border-radius: 150px;
			-webkit-box-shadow: 1px 1px 10px #111111;
			border-radius: 150px;	
            
		}


 .usertext{
     
     padding: 40px;
     margin-left: 300px;
     margin-top: -250px;
     margin-bottom: 120px;
    color: dodgerblue;
     font-family: inherit;
     font-size: 1.8em;
     text-align: center;
}

p#recuerda {
  font-size: 25px;
  text-align: center; 
  padding: 5px;
  margin-left: 500px; 
  margin-top: 15px;
  margin-bottom: 10px;
  
  color: darkgray;


}


 .recuerda p {
    
    margin-top: 20px; 
}



.menudes {
position: relative;
overflow: hidden;
width: 100%;
margin: 10px auto 10px;
border-radius: 6px;
background-color:  dodgerblue;
text-align:center;
}
.menudes a {
display: inline-block;
width: 33%; /* 100% dividido por el número de elementos del menú */
box-sizing: border-box;
padding: 5px 5px;
color: gainsboro;
text-decoration: none;
}
.marca {
position: absolute;
bottom: 4px;
left: -12.5%; /* Al menos 1/2 del ancho de cada enlace */
width: 12.5%; /* 1/2 del ancho de cada enlace */
height: 4px;
background: #fff;
transition: 0.5s ease-in-out; 
}
.menudes a:nth-child(1):hover ~ .marca {
left: 10.25%; /* 1/4 Ancho del enlace */
}
.menudes a:nth-child(2):hover ~ .marca {
left: 43.50%; /* 1/4 Ancho del enlace + 1 vez ancho enlace */
}
.menudes a:nth-child(3):hover ~ .marca {
left: 77.25%; /* 1/4 Ancho del enlace + 2 veces ancho enlace */
}








#generosmusic{
    background: #292929;
    color: #fff;
    text-align: center;
    padding: 1px;
}

#generosmusic .containergeneros{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.info-generos{
    margin: 20px;
}

.info-generos img{
   width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 7px solid;
    color: darkcyan;
}

.info-generos h5{
    color: darkgray;
}


@media (min-width:480px){
    .info-generos{
        width: 40%;
    }
}

@media (min-width:1024px){
    .info-generos{
        width: auto;
    }
}







textarea{
   margin-top:2%;
   margin-bottom:5%;
    margin-right: 50%;
    width: 800px;
    font-family: inherit;
    color: midnightblue;			
}





#comentarios h6{
    margin-right: 12.5%;
    font-family: inherit;
    font-size: 18px;
    color: deepskyblue;
}





.button {
    margin-right: 14%;
    margin-top: -4%;
	background:#7f8c8d;
	color: #1F1F1F;
	display:inline-block;
	font-size:1.25em;
	
    
	padding:5px 0;
	text-align:center;
	width:200px;
	text-decoration:none;
	box-shadow:0px 3px 0px #373c3c;
}
 
.button span {
	margin-right:5px;
}


.button.blue {
	background-color: deepskyblue;
	box-shadow:0px 3px 0px #266792;
}


.button.medium {
	width:110px;
}

.button:hover {
	box-shadow:0px 0px 0px;
	padding-top:7px;
}


#usercomentario{
     margin-top:-5%;
    margin-left: 25%;
    width: 500px;
    font-family: sans-serif;
    color: cadetblue;
    text-align: left;
}

#publicacion{
   
   margin-bottom:5%;
    margin-top: 5%;
    margin-left: 25%;
    width: 500px;
    font-family: inherit;
    color: darkgrey;
    text-align: left;
    background: #1F1F1F;
}



#reproductor{
    background: #292929;
    color: #fff;
    text-align: center;
    padding: 2%;
}

#reproductor #wrapper{
    flex-wrap: wrap;
    justify-content: center;
}


#reproductor .idcancion{
    
    margin-right: 72.5%;
    color: deepskyblue;


}

#reproductor .idmusico{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.idmusico{
    margin: 2px;
    margin-top: -3%;
}

.idmusico img{
   width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 7px solid;
    color: dodgerblue;
}

.icon-search{
    color: deepskyblue;
    
}













